<div class="outerDiv">
    <div class="employeeDiv">
        <div class="employee">
            <div class="heading ">Employee Payroll Form</div>
            <div class="row-content ">
                <label for="name " class="labelText ">Name</label>
                <input type="text " name="name " id="name " class="input " required >
            </div>
            <div class="row-content">
                <label class="labelText" for="profile">Profile Image</label>
                <div class="profile-radio-content">
                    <label>
                        <input  type="radio" id="profile1" name="profile" required >
                        <img class="profile" id="image1" src="../assets/profile1.jpg">
                    </label>
                    <label>
                        <input  type="radio" id="profile1" name="profile"  required >
                        <img class="profile" id="image2" src="../assets/profile2.jpg">
                    </label>
                    <label>
                        <input type="radio" id="profile1" name="profile"  required>
                        <img class="profile" id="image3" src="../assets/profile3.jpg">
                    </label>
                    <label>
                        <input type="radio" id="profile1" name="profile" required>
                        <img class="profile" id="image4" src="../assets/profile4.jpg">
                    </label>
                </div>
            </div>
            <div class="row-content">
                <label class="labelText" for="gender">Gender</label>
                <div class="profile-radio-content">
                    <input type="radio" id="male" name="gender" value="Male">
                    <label class="text" for="male">Male</label>
                    <input  type="radio" id="female" name="gender" value="Female">
                    <label class="text" for="female">Female</label>
                </div>
            </div>
            <div class="row-content">
                <label class="labelText" for="department">Department</label>
                <div class="profile-radio-content">
                    <input  type="checkbox" id="hr" name="department" value="HR">
                    <label class="checkbox" for="hr">HR</label>
                    <input  type="checkbox" id="sales" name="department" value="Sales">
                    <label class="checkbox" for="sales">Sales</label>
                    <input  type="checkbox" id="finance" name="department" value="Finance">
                    <label class="checkbox"for="finance">Finance</label>
                    <input  type="checkbox" id="engineer" name="department" value="Engineer">
                    <label class="checkbox" for="engineer">Engineer</label>
                    <input  type="checkbox" id="others" name="department" value="Others">
                    <label class="checkbox" for="others">Others</label>
                </div>
            </div>
            <div class="row-content">
                <label class="labelText" for="salary">Choose Your Salary: </label>
                <div class="profile-radio-content">
                    <select id="day" name="Day" class="dropdown-select">
                        <option value="1">Select Salary</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                </div>
            </div>
            <div class="row-content">
                <label class="labelText" for="startDate">Start Date</label>
                <div class="profile-radio-content">
                    <select id="day" name="Day" class="dropdown-select1">
                        <option value="2022">Day</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                        <option value="31">31</option>
                    </select>
                    <select id="month" name="Month" class="dropdown-select1">
                        <option value="2022">Month</option>
                        <option value="Jan">January</option>
                        <option value="Feb">February</option>
                        <option value="March">March</option>
                        <option value="April">April</option>
                        <option value="May">May</option>
                        <option value="June">June</option>
                        <option value="July">July</option>
                        <option value="Aug">August</option>
                        <option value="Sept">September</option>
                        <option value="Oct">October</option>
                        <option value="Nov">November</option>
                        <option value="Dec">December</option>
                    </select>
                    <select id="year" name="Year" class="dropdown-select1">
                        <option value="2022">Year</option>
                        <option value="2022">2022</option>
                        <option value="2021">2021</option>
                        <option value="2020">2020</option>
                        <option value="2019">2019</option>
                        <option value="2018">2018</option>
                        <option value="2017">2017</option>
                        <option value="2016">2016</option>
                    </select>
                </div>
            </div>
            <div class="row-content">
                <label class="labelText" for="notes">Notes</label>
                <textarea id="notes" class="input1" name="Notes" placeholder=""></textarea>
            </div>
            <div class="buttonParent">
                <button  class="button cancelButton">Cancel</button>
                <div >
                    <button  type="submit" class="button submitButton">Submit</button>
                    <button  type="reset" class="button resetButton">Reset</button>
                </div>
            </div>
        </div>
    </div>
</div>